#neonShadow {
    height: 50px;
    width: 150px;
    /* border-radius: 50px; */
    /* background-color: rgb(165, 215, 252); */
    animation: glow 1s infinite;
    transition: 0.5s;
    cursor: pointer;
    /* margin-top: 5px; */
    border-style: none;
    /* border-bottom-color: coral; */
}

span:hover {
    transition: 0.3s;
    opacity: 1;
    font-weight: 700;
}

#neonShadow:hover {
    transform: translateX(-20px)rotate(30deg);
    border-radius: 5px;
    background-color: transparent;
    transition: 0.5s;
    border: 1px solid black;
}

@keyframes glow {
    0% {
        box-shadow: 5px 5px 20px rgb(165, 215, 252), -5px -5px 20px rgb(208, 236, 243);
    }
    50% {
        box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210)
    }
    100% {
        box-shadow: 5px 5px 20px rgb(165, 215, 252), -5px -5px 20px rgb(165, 215, 252)
    }
    0% {
        box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
    }
}